* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
    background-position-y: 30px;
    background-position-x: 30px;
    background-color: #d5d2d2;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 50px 0 0 100px;
}

h1 {
    text-align: left;
    line-height: 1.9;
    color: black;
    font-family: Tahoma;
    font-size: 30px;
}

p {
    font-family: Tahoma;
    font-size: 15px;
    line-height: 1.5;
    padding: 20px 0 60px 0;
}

label {
    text-align: left;
    color: rgb(35, 33, 33);
    font-family: Tahoma;
    font-size: 15px;
    line-height: 2;
    padding: 10px 0 10px 0;
}

/* formatação texto insira e o input */

.infos {
    width: 350px;
    height: 450px;
    padding: 35px 5px 10px 25px;
    border-radius: 18px;
    background-color: #d4dadd;
    box-shadow: 2px 5px 13px 0px rgba(86, 88, 92, 0.49);
    opacity: 0.95;
}

/* caixa bloco validação */

input {
    width: 170px;
    height: 22px;
    box-shadow: 2px 5px 8px 0px rgba(86, 88, 92, 0.49);
}

/* caixa input */

button {
    width: 95px;
    height: 26px;
    background-color: rgb(131, 131, 154);
    box-shadow: 2px 5px 8px 0 rgba(67, 68, 71, 0.49);
    font-size: 14px;
}

div#resultado {
    text-align: left;
    color: rgb(35, 33, 33);
    font-family: Tahoma;
    font-size: 15px;
    line-height: 1.5;
    padding: 10px 0 10px 0;

}

/* texto do resultado */